<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/svg+xml" href="/favicon.ico"/>
    <!-- Vue 3.0 -->
    <script src="https://unpkg.com/vue@next"></script>
    <title>跨越層級的傳遞方式provide inject</title>

</head>
<body>
<ol>
    <li><a href="index.html">index</a></li>
    <li><a href="demo.html">demo</a></li>
    <li><a href="convertMoney.html">convertMoney</a></li>
    <li><a href="directive.html">directive指令</a></li>
    <li><a href="event.html">event事件處理</a></li>
    <li><a href="ifShowFor.html">v-if,v-show,v-for</a></li>
    <li><a href="lifeCycle.html">lifeCycle</a></li>
    <li><a href="addToMessage.html">新增訊息</a></li>
    <li><a href="component.html">元件特性</a></li>
    <li><a href="parentChild.html">父子元件</a></li>
    <li><a href="parentChild2.html">父子元件2</a></li>
    <li><a href="propsEmit.html">v-model 與元件的雙向綁定 (Vue 3.x 新增)</a></li>
    <li><a href="provideInject.html">跨越層級的傳遞方式provide inject</a></li>
    <li><a href="VueCompositionAPI.html">Vue Composition API</a></li>
</ol>
<div id="app">
    <input type="text" v-model="msg">

    <list-component></list-component>
</div>

<script>
    const app = Vue.createApp({
        data() {
            return {
                msg: 'Hello App!'
            }
        },
        provide() {
            // 將 this.msg 透過 provide 傳遞出去
            return {
                provideMsg: this.msg,
                provideMsg2: Vue.computed(() => this.msg)
            };
        }
    });

    app.component('list-component', {
        template: `
  	<ul>
    	<li v-for="i in 3">
      	{{ i }}
     		<list-item />
			</li>
    </ul>`,
        components: {
            'list-item': {
                // 在子、孫元件中，加上 inject 屬性即可取得 provideMsg
                inject: ['provideMsg', 'provideMsg2'],
                template: `
      	<div>provideMsg: {{ provideMsg }}!</div>
      	<div>provideMsg2: {{ provideMsg2.value }}!</div>
			`
            }
        }
    });

    app.mount('#app');
</script>
<style lang="scss">
  #app {
    display: block;
    padding: 1rem;
    padding-top: 2rem;
    font-size: 1rem;
  }

  input {
    display: block;
    font-size: 1rem;
    padding: 5px;
    margin-bottom: 1rem;
    width: 350px;
  }

  li {
    display: block;
    width: 350px;
    padding: 10px;
    border: 1px solid #000;
    margin-bottom: 1rem;
  }

  a {
    color: #3eaf7c;
    text-decoration: none;
  }


</style>
</body>
</html>